@import "./catppuccin.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  background-image: linear-gradient(90deg, var(--ctp-macchiato-sky), var(--ctp-macchiato-pink), var(--ctp-macchiato-text), var(--ctp-macchiato-pink), var(--ctp-macchiato-sky));
  color: var(--ctp-macchiato-text);
  font-family: Quicksand;
  font-size: 16px;
}

header,
footer {
  background: var(--ctp-macchiato-crust);
  border: 0.25em double var(--ctp-macchiato-maroon);
}

header>ul,
footer>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--ctp-macchiato-sky);
}

header>ul>li,
footer>ul>li {
  border: 2px outset var(--ctp-macchiato-overlay0);
  padding: 0.4em;
  background-color: var(--ctp-macchiato-surface0);
}

a {
  text-decoration: none;
  color: var(--ctp-macchiato-sky);
}

p {
  margin: 0.5rem;
}

main {
  margin: 0 auto;
  border: 0.25em double var(--ctp-macchiato-maroon);
  padding: 0.5rem;
  width: 720px;
  background: var(--ctp-macchiato-surface0);
  display: flex;
  flex-direction: column;
  font-family: Quicksand;
}

main h1 {
  text-align: center;
  color: var(--ctp-macchiato-sky);
}
